@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

:root {
  /* Radio sizes */
  --radius-50: 5px;
  --radius-100: 10px;
  --radius-200: 20px;
  --radius-300: 30px;

  /* Margin and padding sizes */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;

  /* Primary */
  --dark-cyan: hsl(184, 100%, 22%);
  --bright-orange: hsl(31, 77%, 52%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --very-light-gray: hsl(0, 0%, 95%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
}

* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0;
  font-family: "Lexend Deca";
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--very-light-gray);
}

.card {
  overflow: hidden;
  margin: var(--spacing-300);
  border-radius: var(--radius-100);
}

.article {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  padding: var(--spacing-600);
}

.image {
  width: 64px;
}

.title {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--very-light-gray);
  font-family: "Big Shoulders Display";
}

.paragraph {
  color: var(--transparent-white);
}

.button {
  border: none;
  cursor: pointer;
  width: fit-content;
  transition: all 0.3s;
  margin-top: var(--spacing-100);
  border-radius: var(--radius-300);
  background-color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
  padding: var(--spacing-100) var(--spacing-400);
}

.button:hover {
  color: var(--very-light-gray);
  background-color: transparent;
}

.sedan {
  background-color: var(--bright-orange);
}

.sedan .button {
  color: var(--bright-orange);
}

.suv {
  background-color: var(--dark-cyan);
}

.suv .button {
  color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

.sedan .button:hover,
.suv .button:hover,
.luxury .button:hover {
  color: var(--very-light-gray);
}

@media only screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
  }

  .article {
    width: 210px;
  }

  .button {
    margin-top: var(--spacing-700);
  }
}
